# ESIS v2 일반교육(중고등교육) API — OpenAPI 3.1
# 자동 생성: GET https://developerv2.esis.edu.mn/api/structure → gen_openapi.cjs → PyYAML
openapi: 3.1.0
info:
  title: ESIS v2 — 중고등교육(일반교육) API
  version: 2.0.0
  description: '몽골 교육부 ESIS v2 일반교육 시스템(Сургууль, цэцэрлэгийн систем) API 스펙.

    ## 규약

    - 모든 파라미터 값은 의미상 타입과 무관하게 **문자열(String)로 전송**하는 것이 ESIS 관례입니다. 스키마 type은 의미 표현용.

    - 응답은 공통 봉투 `{ SUCCESS_CODE, RESPONSE_MESSAGE, RESULT }` 사용. 실제 데이터는 보통 `RESULT` 배열.

    - 쓰기 서비스는 단일 엔드포인트에서 요청 본문의 `event`(CREATE/UPDATE/DELETE 등)로 동작 분기하는 경우가 많음.

    - 저장은 배열 배치 처리가 흔하며, 응답은 행 단위 결과(personId + status/message)를 돌려줄 수 있음.

    - 동일 path+method를 가진 서비스는 하나의 operation으로 통합(`x-esis-merged`). required는 분기 공통 항목만 표기.

    - 엔드포인트 경로 미공개로 제외된 서비스: Суралцагчийн шилжилт хөдөлгөөний мэдээлэл'
servers:
- url: https://hubv2.esis.edu.mn
  description: ESIS v2 hub
security:
- bearerAuth: []
tags:
- name: Багшийн мэдээлэл
- name: Байгууллагын мэдээлэл
- name: Бүлгийн ирц
- name: Бүлгийн мэдээлэл
- name: Вакцины мэдээлэл
- name: Дэвшилт
- name: Суралцагчийн мэдээлэл
- name: Суралцагчийн нэмэлт мэдээлэл
- name: Сүү хөтөлбөр
- name: Төгсөлт
- name: Төсөв хөрөнгө
- name: Хичээл
- name: Хичээлийн дүн
- name: Шалгалт
- name: Үнэлгээ 2
- name: 기타
paths:
  /svc/api/hub/v2/academic-year/info:
    get:
      operationId: API_000257
      summary: Хичээлийн жилийн хаалт, нээлтийн мэдээлэл лавлах
      tags:
      - Төгсөлт
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        currentAcademicYearFlag:
                          type: string
                          description: Идэвхтэй хичээлийн жил эсэх [Y/N] ( Нэг сургуулийн хувьд зөвхөн нэг л идэвхтэй хичээлийн жил байна)
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 30000
                  academicYear: '2026'
                  currentAcademicYearFlag: N
                - institutionId: 30000
                  academicYear: '2025'
                  currentAcademicYearFlag: Y
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.PROC_SMS_ACADEMIC_YEAR_STATUS_GET
      x-esis-slug: API-000257
  /svc/api/hub/v2/academic-years/save:
    post:
      operationId: API_000256
      summary: Хичээлийн жилийн хаалт, нээлт хийх буюу хадгалах
      tags:
      - Төгсөлт
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
              required:
              - institutionId
            example:
              institutionId: 39971
      x-esis-service: ESIS_HUB.PROC_SMS_ACADEMIC_YEAR_MANAGE
      x-esis-slug: API-000256
  /svc/api/hub/v2/academic-years/status-addition:
    post:
      operationId: API_000276
      summary: Хичээлийн жил нэмэх
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        currentAcademicYearFlag:
                          type: string
                          description: Идэвхитэй эсэх
                        openDate:
                          type: string
                          description: Эхлэх огноо
                        closedDate:
                          type: string
                          description: Дуусах огноо
                        academicYearStatus:
                          type: string
                          description: Хаалт нээлт хийсэн эсэх
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                academicYear:
                  type: number
                  description: 'Шинэ хичээлийн жил (жишээ: 2026)'
              required:
              - institutionId
              - academicYear
            example:
              institutionId: 30000
              academicYear: 2025
      x-esis-service: ESIS_HUB.HUB_SERVICE_ACADEMIC_YEAR_STATUS_ADD
      x-esis-slug: API-000276
  /svc/api/hub/v2/academic/org:
    get:
      operationId: api_26
      summary: Байгууллагын заах аргын нэгдэл
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        subjectDepartmentId:
                          type: number
                          description: Заах аргын нэгдлийн дугаар
                        subjectDepartmentName:
                          type: string
                          description: Заах аргын нэгжийн нэр
                        shortName:
                          type: string
                          description: Богино нэр
                        institutionTypeId:
                          type: number
                          description: Байгууллагын бүтцийн төрлийн дугаар
                        institutionTypeName:
                          type: string
                          description: Байгууллагын бүтцийн төрлийн нэр
                        parentGroupId:
                          type: number
                          description: Удирдах байгууллагын дугаар
                        parentGroupName:
                          type: string
                          description: Удирдах байгууллагын нэр
                        managerId:
                          type: number
                          description: Удирдах ажилтны дугаар
                        managerName:
                          type: string
                          description: Удирдах ажилтны нэр
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 30000
                  subjectDepartmentId: 100000000000000
                  subjectDepartmentName: 'бага ангийн заах аргын нэгдэл '
                  shortName: БЗАН
                  institutionTypeId: 17
                  institutionTypeName: Заах аргын нэгдэл (ЗАН)
                  parentGroupId: 30000
                  parentGroupName: Хушаат сумын сургууль
                  managerId: 9000000000000
                  managerName: Э.Ариунаа
      description: Байгууллагын заах аргын нэгдэл
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_INSTITUTION_ACADEMIC_ORG
      x-esis-slug: api-26
  /svc/api/hub/v2/academic/year/statuses:
    get:
      operationId: API_000160
      summary: Хичээлийн жилийн хаалт нээлт лавлах
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        currentAcademicYearFlag:
                          type: string
                          description: Идэвхитэй эсэх
                        openDate:
                          type: string
                          description: Эхлэх огноо
                        closedDate:
                          type: string
                          description: Дуусах огноо
                        academicYearStatus:
                          type: string
                          description: Хаалт нээлт хийсэн эсэх
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - academicYear: '2025'
                  currentAcademicYearFlag: Y
                  openDate: '2025-04-01'
                  closedDate: '2026-07-31'
                  academicYearStatus: ACTIVE
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: HUB_SERVICE_ACADEMIC_YEAR_STATUSES_V2
      x-esis-slug: API-000160
  /svc/api/hub/v2/assessment/class/grade/personId/:
    get:
      operationId: API_000117
      summary: Үнэлгээ 2 -ын мэдээлэл лавлах /Суралцагчаар/
      tags:
      - Үнэлгээ 2
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        institutionName:
                          type: string
                          description: Байгууллагын нэр
                        personId:
                          type: number
                          description: Суралцагчийн дугаар
                        lastName:
                          type: string
                          description: Овог нэр
                        firstName:
                          type: string
                          description: нэр
                        subjectAreaId:
                          type: string
                          description: Судлагдахууны дугаар
                        subjectAreaName:
                          type: string
                          description: Судлагдахууны нэр
                        academicLevel:
                          type: string
                          description: сурагчийн түвшин
                        courseId:
                          type: string
                          description: Хичээлийн дугаар
                        courseName:
                          type: string
                          description: Хичээлийн Нэр
                        classId:
                          type: string
                        className:
                          type: string
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        gradingSchemeId:
                          type: string
                        gradeMark:
                          type: string
                        gradeId:
                          type: string
                          description: Үнэлгээ id
                        gradeCode:
                          type: string
                          description: Үнэлгээ code
                        termId:
                          type: string
                          description: Улирал ID
                        termName:
                          type: string
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 12345
                  institutionName: Говь-Алтай аймгийн Есөнбулаг сумын ерөнхий боловсролын гуравдугаар сургууль
                  personId: 123456789789
                  lastName: Батцоож
                  firstName: Агваансанбуу
                  subjectAreaId: 123
                  subjectAreaName: Иргэний ёс зүйн боловсрол
                  academicLevel: 1
                  courseId: 123456789789
                  courseName: Иргэний ёс зүйн боловсрол 5 (ИБЛ 0501) Заавал
                  classId: 123456789789
                  className: ИБЛ 05101 5а
                  academicYear: '2022'
                  gradingSchemeId: 15
                  gradeMark: 90
                  gradeId: 71
                  gradeCode: VIII
                  termId: 170
                  termName: 2022-2023 хичээлийн жил, 2-р хагас жил
      description: Үнэлгээ 2 -ын мэдээлэл лавлах /Суралцагчаар/ харах
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      - name: personId
        in: query
        required: true
        schema:
          type: number
        description: Суралцагчийн дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_STUDENT_CLASS_GRADES
      x-esis-slug: API-000117
  /svc/api/hub/v2/attendance/list/{academicYear}/{studentGroupId}/{sessionId}:
    get:
      operationId: api_38
      summary: Цахим сургалтын ирцийн мэдээлэл
      tags:
      - Бүлгийн ирц
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        courseName:
                          type: string
                          description: Хичээлийн нэр
                        eClassName:
                          type: string
                          description: Цахим ангийн нэр
                        instructorName:
                          type: string
                          description: Багшийн нэр
                        phoneNumber:
                          type: string
                          description: Утасны дугаар
                        dayOfWeek:
                          type: string
                          description: Хичээллэх гариг
                        lastName:
                          type: string
                          description: Эцэг/Эхийн нэр
                        firstName:
                          type: string
                          description: Хичээлийн нэр
                        classAttendDate:
                          type: string
                          description: Ирц бүртгэгдсэн өдөр
                        attReason:
                          type: string
                          description: Ирцийн төлөв
                        weekNumber:
                          type: number
                          description: Долоо хоногийн дугаар
                        sessionName:
                          type: string
                          description: Улирлын нэр
                        instructorId:
                          type: number
                          description: Багшийн дугаар
                        instructorPersonId:
                          type: number
                          description: Багшийн Боловсролын салбарын хүний бүртгэлийн дугаар
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        classId:
                          type: number
                          description: Ээлжит хичээлийн дугаар
                        subjectAreaId:
                          type: number
                          description: Судлагдахууны дугаар
                        courseId:
                          type: number
                          description: Хичээлийн дугаар
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        termId:
                          type: number
                          description: Хичээлийн хагас жилийн дугаар
                        sessionId:
                          type: number
                          description: Улирлын дугаар
      parameters:
      - name: academicYear
        in: path
        required: true
        schema:
          type: string
        description: Хичээлийн жил
      - name: studentGroupId
        in: path
        required: true
        schema:
          type: number
        description: Бүлгийн дугаар
      - name: sessionId
        in: path
        required: true
        schema:
          type: number
        description: Улирлын дугаар
      - name: institutionId
        in: query
        required: true
        schema:
          type: string
      x-esis-service: ESIS_HUB.HUB_E_LEARNING_ATTENDANCE_STDNT_LIST2
      x-esis-slug: api-38
  /svc/api/hub/v2/building/list:
    get:
      operationId: api_28
      summary: Байгууллагын барилга байгууламжын жагсаалт
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        buildingId:
                          type: number
                          description: Барилга байгууламжийн дугаар
                        buildingName:
                          type: string
                          description: Барилга байгууламжийн нэр
                        createdYear:
                          type: string
                          description: Үүсгэсэн он
                        buildingPurposeName:
                          type: string
                          description: Барилга байгууламжийн зориулалт
                        standardFlag:
                          type: string
                          description: Стандартын эсэх (Тийм/Үгүй)
                        buildingPropertyType:
                          type: string
                          description: Эзэмшлийн төрлийн дугаар
                        buildingPropertyTypeName:
                          type: string
                          description: Эзэмшлийн төрлийн нэр
                        normalCapacity:
                          type: number
                          description: Багтаамж
                        totalCapacity:
                          type: number
                          description: Нийт багтаамж
                        firstCost:
                          type: number
                          description: Анхны үнэ
                        lastCost:
                          type: number
                          description: Эцсийн үнэ
                        approvalStatusCode:
                          type: string
                          description: Баталгаажуулалтын төлвийн код
                        buildingPurposeCode:
                          type: string
                          description: Барилга байгууламжийн зориулалтын код
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - buildingId: 100001687515594
                  buildingName: '  Буянт- Ухаа салбар '
                  createdYear: '2021-09-09T00:00:00.000Z'
                  buildingPurposeName: Цэцэрлэгийн байр
                  standardFlag: Тийм
                  buildingPropertyType: OTHERS
                  buildingPropertyTypeName: Бусдын эзэмшлийн
                  normalCapacity: 150
                  totalCapacity: 193
                  firstCost: 1000000000
                  lastCost: 1000000000
                  approvalStatusCode: NEW
                  buildingPurposeCode: '11'
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_BUILDING_LIST
      x-esis-slug: api-28
  /svc/api/hub/v2/certificate/info:
    get:
      operationId: API_000253
      summary: Боловсролын ҮНЭТ ЦААСНЫ мэдээлэл лавлах /Сургуулиар/
      tags:
      - Төгсөлт
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        degreeId:
                          type: number
                          description: Боловсролын баримт бичгийн төрлийн дугаар
                        degreeName:
                          type: string
                          description: Боловсролын баримт бичгийн төрлийн нэр
                        certificatePaperNumber:
                          type: number
                          description: Үнэт цаасны дугаар
                        degreeNumberStatus:
                          type: string
                          description: Үнэт цаасны төлөв
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        displayName:
                          type: string
                          description: Харагдах нэр
                        personRegNumber:
                          type: string
                          description: Хүний регистрийн дугаар
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_GET_DEGREE_PAPER_LIST_V2
      x-esis-slug: API-000253
  /svc/api/hub/v2/class/courses/list/save:
    post:
      operationId: api_9
      summary: Ээлжит хичээл нэмэх
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      description: Ээлжит хичээл нэмэх
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                classList:
                  type: array
                  items:
                    type: object
                    properties:
                      classIdLms:
                        type: string
                      className:
                        type: string
                      institutionId:
                        type: number
                      subjectAreaId:
                        type: number
                      enrollmentCategory:
                        type: string
                      academicLevel:
                        type: number
                      studentGroupId:
                        type: number
                      personId:
                        type: number
                      courseId:
                        type: number
                      academicYear:
                        type: string
                      programOfStudyId:
                        type: number
                  description: array жагсаалт
                classIdLms:
                  type: string
                  description: Ээлжит хичээлийн дугаар
                className:
                  type: string
                  description: Ангийн нэр
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                subjectAreaId:
                  type: number
                  description: Судлагдахууны дугаар
                enrollmentCategory:
                  type: string
                  description: Хичээл судлах төрөл
                academicLevel:
                  type: number
                  description: Ангийн түвшин
                studentGroupId:
                  type: number
                  description: Суралцагчийн үндсэн бүлгийн дугаар
                personId:
                  type: number
                  description: Суралцагчийн дугаар
                courseId:
                  type: number
                  description: Хичээлийн дугаар
                academicYear:
                  type: string
                  description: Хичээлийн жил
                programOfStudyId:
                  type: number
                  description: Сургалтын хөтөлбөр дугаар
              required:
              - classList
              - classIdLms
              - className
              - institutionId
              - subjectAreaId
              - enrollmentCategory
              - academicLevel
              - studentGroupId
              - personId
              - courseId
              - academicYear
              - programOfStudyId
            example:
              classList:
              - classIdLms: '586'
                className: Англи хэл 5 (АНГ 05101) ЗаавалДэд бүлэг-1
                institutionId: 12345
                subjectAreaId: 24
                enrollmentCategory: MANDATORY
                academicLevel: 5
                studentGroupId: 123456789456
                personId: 123456789456
                courseId: 123456789123
                academicYear: '2025'
                programOfStudyId: 1234567894132
      x-esis-service: ESIS_HUB.HUB_SERVICE_CREATE_CLASSES
      x-esis-slug: api-9
  /svc/api/hub/v2/class/grade/delete:
    post:
      operationId: API_000119
      summary: Үнэлгээ 2 устгах
      tags:
      - Үнэлгээ 2
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      description: Үнэлгээ 2 устгах
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institution_id:
                  type: number
                  description: Байгууллагын дугаар
                student_list:
                  type: number
                  description: Суралцагчийн жагсаалт
                term_id:
                  type: number
                  description: Хичээлийн хагас жил
                class_id:
                  type: number
                  description: Ээлжит хичээлийн дугаар
                username:
                  type: string
                  description: Үүсгэсэн хүн
              required:
              - institution_id
              - student_list
              - term_id
              - class_id
              - username
            example:
              studentList:
              - PERSON_ID: 90000003288838
                GRADE_MARK: 97
              termId: 2
              classId: 100004117985051
      x-esis-service: ESIS_HUB.hub_service_class_grade_delete
      x-esis-slug: API-000119
  /svc/api/hub/v2/class/grade/save:
    post:
      operationId: api_24
      summary: Үнэлгээ 2 хадгалах
      tags:
      - Үнэлгээ 2
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      description: '[동일 엔드포인트 통합] 관련 동작: Үнэлгээ 2 хадгалах / Үнэлгээ 2 хадгалах (요청 본문의 event 값으로 분기).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                studentList:
                  type: array
                  items:
                    type: object
                    properties:
                      personId:
                        type: number
                      gradeMark:
                        type: number
                  description: Суралцагчийн жагсаалт
                personId:
                  type: number
                  description: Суралцагчийн дугаар
                gradeMark:
                  type: number
                  description: Суралцагчийн авсан хичээлийн дүн
                termId:
                  type: number
                  description: Хичээлийн хагас жилийн дугаар
                classId:
                  type: number
                  description: Ээлжит хичээлийн дугаар
            example:
              institutionId: 40095
              studentList:
              - personId: 90000003288838
                gradeMark: 97
              termId: 2
              classId: 100004117985051
      x-esis-service: ESIS_HUB.HUB_SERVICE_CLASS_GRADE_SAVE
      x-esis-slug: api-24
      x-esis-merged:
      - ESIS_HUB.HUB_SERVICE_CLASS_GRADE_SAVE
      - ESIS_HUB.hub_service_class_grade_save
  /svc/api/hub/v2/classes/{academicYear}:
    get:
      operationId: api_10
      summary: Ээлжит хичээлийн бүртгэл лавлах
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        requestId:
                          type: number
                          description: Хүсэлтийн дугаар
                        classId:
                          type: number
                          description: Ээлжит хичээлийн дугаар
                        classIdLms:
                          type: string
                          description: LMS-ийн ээлжит хичээл
                        className:
                          type: string
                          description: Ээлжит хичээлийн нэр
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        subjectAreaId:
                          type: number
                          description: Судлагдахууны дугаар
                        enrollmentCategory:
                          type: string
                          description: Хичээлийн судлах төрөл /MANDATORY-заавал судлах, ELECTIVE-сонгон судлах
                        academicLevel:
                          type: number
                          description: Ангийн түвшин
                        studentGroupId:
                          type: number
                          description: Суралцагчийн үндсэн бүлгийн дугаар
                        personId:
                          type: number
                          description: Багшийн дугаар
                        courseId:
                          type: number
                          description: Хичээлийн ID
                        academicYear:
                          type: string
                          description: Хичээлийн жил
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - requestId: 5147701
                  classId: 100005715411596
                  classIdLms: '2252'
                  className: Бэлтгэл хичээл 1 (БЭХ 1101) Заавал судлах Үндсэн бүлэг
                  institutionId: 40095
                  subjectAreaId: 1
                  enrollmentCategory: MANDATORY
                  academicLevel: 1
                  studentGroupId: 100005217916934
                  personId: 90000001051034
                  courseId: 100000350467306
                  academicYear: '2025'
      parameters:
      - name: academicYear
        in: path
        required: true
        schema:
          type: number
        description: Хичээлийн жил
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: Ээлжит хичээлийн бүртгэл лавлах
      x-esis-slug: api-10
  /svc/api/hub/v2/condition/save:
    post:
      operationId: API_000170
      summary: Амьдрах орчин хадгалах
      tags:
      - Суралцагчийн нэмэлт мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      description: Амьдрах орчин хадгалах - > infoText1 оролтын утгыг - Суралцагчийн нэмэлт мэдээлэл бүртгэх сервисүүдийн лавлах мэдээллийн бүртгэл файлаас харна уу. ( https://tinyurl.com/yc2mhm7a )
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  description: Үйлдлийн утга /Create, Delete, Update/
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                personId:
                  type: number
                  description: Суралцагчийн дугаар
                studentStatisticId:
                  type: number
                  description: Суралцагчийн статистик бичлэгийн дугаар (Шинээр бүртгэж байгаа бол NULL, засах,устгах бол бичлэгийн дугаар шаардлагатай)
                infoText1:
                  type: string
                  description: Амьдарч буй газар
                infoText2:
                  type: string
                  description: Дотуур байрны эзэмшлийн төрөл
                infoText3:
                  type: string
                  description: Дотуур байрны эзэмшигч
                infoNumber1:
                  type: number
                  description: Одоо амьдарч буй газар, сургууль хоорондох зай /км/
                infoNumber2:
                  type: number
                  description: Сургалтын төлбөр /бүтэн жилээр/
                infoNumber3:
                  type: number
                  description: бусад сургуулийн дотуур байр үед ашиглагдана.
                infoNumber4:
                  type: number
                  description: дотуур байрны дугаар
                infoDate1:
                  type: string
                  format: date
                  description: Сургуульд анх орсон он
              required:
              - event
              - institutionId
              - personId
              - studentStatisticId
              - infoText1
              - infoText2
              - infoText3
              - infoNumber1
              - infoNumber2
              - infoNumber3
              - infoNumber4
              - infoDate1
            example:
              event: Create
              institutionId: 40095
              personId: 1001
              studentStatisticId: null
              infoText1: '1'
              infoText2: null
              infoText3: null
              infoNumber1: 1
              infoNumber2: 1500000
              infoNumber3: 2
              infoNumber4: 7
              infoDate1: '2025-09-01'
      x-esis-service: ESIS_HUB.PK_STDNT_PROFILE_V2.STUDENT_LIVE_CONDITION
      x-esis-slug: API-000170
  /svc/api/hub/v2/dormitory/save:
    post:
      operationId: API_000169
      summary: Дотуур байрны мэдээлэл хадгалах
      tags:
      - Суралцагчийн нэмэлт мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      description: Дотуур байрны мэдээлэл хадгалах
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  description: Үйлдлийн утга /Create, Delete, Update/
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                personId:
                  type: number
                  description: Суралцагчийн дугаар
                dormitoryRequestsId:
                  type: number
                  description: Суралцагчийн дотуур байрны хүсэлтийн дугаар (Шинээр бүртгэж байгаа бол NULL, засах,устгах бол бичлэгийн дугаар шаардлагатай)
                academicYear:
                  type: string
                  format: date
                  description: Хичээлийн жил
                requestedDate:
                  type: string
                  format: date
                  description: Хүсэлт гаргасан өдөр
                registrationDate:
                  type: string
                  format: date
                  description: Бүртгэсэн өдөр
                registrationPerson:
                  type: string
                  description: Бүртгэсэн хүн
                registrationPersonId:
                  type: number
                  description: Бүртгэсэн хүний дугаар.
                approvedBuildingId:
                  type: number
                  description: Зөвшөөрөгдсөн Байрны дугаар
                approvedFacilityTypeId:
                  type: number
                  description: Зөвшөөрөгдсөн Өрөөний төрлийн дугаар
                approvedFacilityId:
                  type: number
                  description: Зөвшөөрөгдсөн Өрөөний дугаар
                requestStatus:
                  type: string
                  description: Хүсэлтийн төлөв. [REQUESTED - хүсэлт гаргасан /REJECTED - цуцлагдсан /APPROVED - зөвшөөрөгдсөн /ACTIVE - байрандаа орсон /INACTIVE - байрнаасаа гарсан]
                requestStatusDate:
                  type: string
                  format: date
                  description: Хүсэлтийн төлвийн огноо
                description:
                  type: string
                  description: Тайлбар
              required:
              - event
              - institutionId
              - personId
              - dormitoryRequestsId
              - academicYear
              - requestedDate
              - registrationDate
              - registrationPerson
              - requestStatus
              - requestStatusDate
              - description
            example:
              event: Create
              institutionId: 12345
              personId: 1
              dormitoryRequestsId: null
              academicYear: '2025'
              requestedDate: '2025-09-17'
              registrationDate: '2025-09-17'
              registrationPerson: Фа96060606
              registrationPersonId: 1
              approvedBuildingId: 1
              approvedFacilityTypeId: 1
              approvedFacilityId: 1
              requestStatus: APPROVED
              requestStatusDate: '2025-09-17'
              description: test
      x-esis-service: esis_hub.PK_STDNT_PROFILE_V2.STUDENT_DORMITORY
      x-esis-slug: API-000169
  /svc/api/hub/v2/exam/candidate/save:
    post:
      operationId: API_000114
      summary: Шалгалтын дүн хадгалах
      tags:
      - Хичээлийн дүн
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        PERSON_ID:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        OUTPUT_STATUS:
                          type: number
                          description: Гаралтын төлвийн дугаар
                        OUTPUT_INFO:
                          type: string
                          description: Гаралтын мэдээлэл
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        outStatus:
                          type: number
                          description: Гаралтын төлвийн дугаар
                        outMessage:
                          type: string
                          description: Гаралтын мэдээлэл
      description: 'Шалгалтын дүн хадгалахын тулд https://hub.esis.edu.mn/svc/api/hub/exam/candidate/save рүү POST аргачлалаар хандана. [동일 엔드포인트 통합] 관련 동작: Шалгалтын дүн хадгалах / Шалгалтын дүн хадгалах, устгах (요청 본문의 event 값으로 분기).'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                event:
                  type: string
                  description: Үйлдэл /ADD - Нэмэх , DELETE - хасах/
                studentGroupId:
                  type: number
                  description: Бүлгийн дугаар
                testComponentSessionId:
                  type: number
                  description: Шалгалтын хуваарийн дугаар
                studentList:
                  type: array
                  items:
                    type: object
                    properties:
                      personId:
                        type: number
                      attendanceReasonCode:
                        type: string
                      score:
                        type: number
                      gradeId:
                        type: number
                      percentage:
                        type: number
                  description: Суралцагчийн жагсаалт
                personId:
                  type: number
                  description: Боловсролын салбарын хүний бүртгэлийн дугаар
                attendanceReasonCode:
                  type: string
                  description: Ирцийн шалтгааны код
                score:
                  type: number
                  description: Оноо
                gradeId:
                  type: number
                  description: Дүнгийн дугаар
                percentage:
                  type: number
                  description: Шалгалтын үнэлгээний хувь
                approvalStatusCode:
                  type: string
                  description: Баталгаажуулалтын төлвийн код
                approvedDate:
                  type: string
                  description: Баталгаажуулсан өдөр
                approvedBy:
                  type: string
                  description: Баталгаажуулсан хэрэглэгчийн нэр
              required:
              - institutionId
              - event
              - studentGroupId
              - testComponentSessionId
              - studentList
              - personId
              - attendanceReasonCode
              - score
              - percentage
            example:
              event: ADD
              studentGroupId: 100000000000000
              testComponentSessionId: 3
              studentList:
              - personId: 90000000000000
                attendanceReasonCode: SICK
                score: 98
                gradeId: 11
                percentage: 11
      x-esis-service: ESIS_HUB.HUB_SERVICE_TEST_CANDIDATE_SAVE_V2
      x-esis-slug: API-000114
      x-esis-merged:
      - ESIS_HUB.HUB_SERVICE_TEST_CANDIDATE_SAVE_V2
      - ESIS_HUB.HUB_SERVICE_TEST_CANDIDATE_SAVE_V3
  /svc/api/hub/v2/exam/creation:
    post:
      operationId: API_000278
      summary: Шалгалт үүсгэх
      tags:
      - Шалгалт
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        testComponentSessionId:
                          type: number
                          description: Шалгалтын хуваарийн дугаар
                        gradeSchemeId:
                          type: number
                          description: Дүнгийн схем дугаар
                        academicLevel:
                          type: string
                          description: Анги
                        examName:
                          type: string
                          description: Шалгалтын нэр
                        examNameMgl:
                          type: string
                          description: Шалгалтын нэр /Монгол бичгээр/
                        examType:
                          type: string
                          description: Шалгалтын төрөл
                        beginDateTime:
                          type: string
                          format: date
                          description: Шалгалт эхлэх огноо
                        endDateTime:
                          type: string
                          format: date
                          description: Дуусах огноо
                        maxScore:
                          type: number
                          description: Хамгийн их оноо
                        rowNo:
                          type: number
                          description: Мөрийн дугаар
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - testComponentSessionId: 100000000000
                  gradeSchemeId: 200000000000
                  academicLevel: '10'
                  examName: 2025-2026 оны хичээлийн жилийн математикийн төгсөлтийн шалгалт
                  examNameMgl: ''
                  examType: ''
                  beginDateTime: ''
                  endDateTime: ''
                  maxScore: 100
                  rowNo: 11
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                studentGroupId:
                  type: number
                  description: Бүлгийн дугаар
                programElementId:
                  type: number
                  description: Сургалтын төлөвлөгөөний хичээлийн дугаар
              required:
              - institutionId
              - studentGroupId
              - programElementId
            example:
              institutionId: 30000
              studentGroupId: 200000000000000
              programElementId: 100000000000000
      x-esis-service: ESIS_HUB.HUB_TEST_COMP_SESS_SAVE
      x-esis-slug: API-000278
  /svc/api/hub/v2/execution:
    get:
      operationId: API_000121
      summary: Төсөв орлого зарлагын маягтын мэдээлэл харах
      tags:
      - Төсөв хөрөнгө
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        SPECIFICATION_CODE:
                          type: string
                        SPECIFICATION_NAME:
                          type: string
                        BUDGET_TOTAL:
                          type: number
                        EXECUTION_TOTAL:
                          type: number
                        INSTITUTION_ID:
                          type: number
                        ACADEMIC_YEAR:
                          type: string
                        SEQUENCE:
                          type: number
                        READ_ONLY_FLAG:
                          type: string
                        specificationCode:
                          type: string
                        specificationName:
                          type: string
                        budgetTotal:
                          type: number
                        executionTotal:
                          type: number
                        institutionId:
                          type: number
                        academicYear:
                          type: string
                        sequence:
                          type: number
                        readOnlyFlag:
                          type: string
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - specificationCode: '001'
                  specificationName: Мөнгөн хөрөнгийн эхний үлдэгдэл
                  budgetTotal: 0
                  executionTotal: 0
                  institutionId: 1
                  academicYear: '2022'
                  sequence: 1
                  readOnlyFlag: N
                - specificationCode: '002'
                  specificationName: Нэг. Зардлыг санхүүжүүлэх эх үүсвэр (мян.төг)
                  budgetTotal: null
                  executionTotal: null
                  institutionId: 1
                  academicYear: '2022'
                  sequence: 2
                  readOnlyFlag: Y
      description: Төсөв орлого зарлагын маягтын мэдээлэл харах
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын ID
      x-esis-service: ESIS_HUB.ESIS_SLM_STATISTIC_INFO8_LIST
      x-esis-slug: API-000121
  /svc/api/hub/v2/execution/save:
    get:
      operationId: op_8
      summary: Төсөв орлого зарлагын маягтын мэдээлэл хадгалах
      tags:
      - Төсөв хөрөнгө
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      x-esis-service: ESIS_HUB.ESIS_SLM_STATISTIC_INFO8_SAVE
      x-esis-slug: '8'
    post:
      operationId: API_000123
      summary: Төсөв орлого зарлагын маягтын мэдээлэл хадгалах
      tags:
      - Төсөв хөрөнгө
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      description: Төсөв орлого зарлагын маягтын мэдээлэл хадгалах
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                academicYear:
                  type: string
                  description: Хичээлийн жил
                username:
                  type: number
                  description: Хэрэглэгчийн нэр
                inTotal:
                  type: string
                  description: array
                budgetTotal:
                  type: number
                  description: Батлагдсан төсөв
                executionTotal:
                  type: number
                  description: Гүйцэтгэл
                specificationCode:
                  type: string
                  description: Гүйцэтгэлийн үзүүлэлтийн дугаар
              required:
              - institutionId
              - academicYear
              - username
              - inTotal
              - budgetTotal
              - executionTotal
              - specificationCode
      x-esis-service: ESIS_HUB.ESIS_SLM_STATISTIC_INFO8_SAVE
      x-esis-slug: API-000123
  /svc/api/hub/v2/group/certificate/info/{studentGroupId}:
    get:
      operationId: API_000135
      summary: Боловсролын баримт бичгийн мэдээлэл
      tags:
      - Төгсөлт
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        studentGraduationId:
                          type: number
                          description: Төгсөлтийн бүртгэлийн дугаар
                        displayName:
                          type: string
                          description: Харагдах нэр
                        personRegNumber:
                          type: string
                          description: Хүний регистрийн дугаар
                        degreeId:
                          type: number
                          description: Боловсролын баримт бичгийн төрлийн дугаар
                        degreeName:
                          type: string
                          description: Боловсролын баримт бичгийн нэр
                        degreeNidNumber:
                          type: string
                          description: Боловсролын баримт бичгийн дугаар
                        approvalDate:
                          type: string
                          description: Баталгаажуулсан огноо
                        approvalStatusCode:
                          type: string
                          description: Үйлдлийн код
                        approvalStatusName:
                          type: string
                          description: Үйлдлийн нэр
                        certificatePaperNumber:
                          type: number
                          description: Үнэт цаасны дугаар
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 40000
                  studentGroupId: studentGroupId
                  personId: personId
                  studentGraduationId: studentGraduationId
                  displayName: displayName
                  personRegNumber: personRegNumber
                  degreeId: degreeId
                  degreeName: degreeName
                  degreeNidNumber: degreeNidNumber
                  approvalDate: approvalDate
                  approvalStatusCode: approvalStatusCode
                  approvalStatusName: approvalStatusName
                  certificatePaperNumber: certificatePaperNumber
      description: Боловсролын баримт бичгийн мэдээлэл
      parameters:
      - name: studentGroupId
        in: path
        required: true
        schema:
          type: number
        description: Анги бүлгийн дугаар
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_CERTIFICATE_INFO_V2
      x-esis-slug: API-000135
  /svc/api/hub/v2/group/course/save:
    post:
      operationId: api_20
      summary: Жилийн эцсийн дүн хадгалах, устгах
      tags:
      - Хичээлийн дүн
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        outStatus:
                          type: number
                          description: Гаралтын төлвийн дугаар
                        outMessage:
                          type: string
                          description: Гаралтын мэдээлэл
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - personId: 100000000000
                  outStatus: 1
                  outMessage: 100000000000 Person_ID-тай суралцагчийн хичээлийн дүн бүртгэгдлээ.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                programElementId:
                  type: number
                  description: Хөтөлбөрийн элементийн дугаар
                studentGroupId:
                  type: number
                  description: Бүлгийн дугаар
                event:
                  type: string
                  description: Үйлдлийн утга. /CREATE- хадгалах, DELETE - устгах/
                studentList:
                  type: array
                  items:
                    type: object
                    properties:
                      personId:
                        type: number
                      courseGrade:
                        type: number
                      gradeId:
                        type: number
                      gradeLevelName:
                        type: string
                      gradePoint:
                        type: number
                      gradeOutcomeCode:
                        type: string
                      avgWeeklyCredits:
                        type: number
                  description: Суралцагчийн жагсаалт /array/
                personId:
                  type: number
                  description: Боловсролын салбарын хүний бүртгэлийн дугаар
                courseGrade:
                  type: number
                  description: Хичээлийн дүн
                gradeId:
                  type: number
                  description: Дүнгийн дугаар
                gradeLevelName:
                  type: string
                  description: Дүнгийн түвшний нэр
                gradePoint:
                  type: number
                  description: Дүнгийн оноо
                gradeOutcomeCode:
                  type: string
                  description: Дүнгийн үр дүнгийн код
                avgWeeklyCredits:
                  type: number
                  description: Долоо хоногийн дундаж багц цаг
              required:
              - institutionId
              - programElementId
              - studentGroupId
              - event
              - studentList
              - personId
              - courseGrade
              - gradeId
              - gradeLevelName
              - gradePoint
              - gradeOutcomeCode
              - avgWeeklyCredits
            example:
              institutionId: 30000
              programElementId: 1000000000
              studentGroupId: 1000000000
              event: CREATE
              studentList:
              - personId: 90000000000000
                courseGrade: 95
                gradeId: 71
                gradeLevelName: VIII
                gradePoint: 95
                gradeOutcomeCode: PASS
                avgWeeklyCredits: 3
      x-esis-service: ESIS_HUB.HUB_SERVICE_SCHOOL_COURSE_GRADE_SAVE_V2
      x-esis-slug: api-20
  /svc/api/hub/v2/group/general/student/list/{studentGroupId}:
    get:
      operationId: API_000246
      summary: Бүлгийн сурагчийн ерөнхий мэдээлэл дамжуулах сервис
      tags:
      - Суралцагчийн мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        userRole:
                          type: string
                          description: Хэрэглэгчийн төрөл
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        personRegNumber:
                          type: string
                          description: Хүний регистрийн дугаар
                        firstName:
                          type: string
                          description: Өөрийн нэр
                        lastName:
                          type: string
                          description: Эцэг/Эхийн нэр
                        familyName:
                          type: string
                          description: Ургийн овог
                        civilId:
                          type: number
                          description: Иргэний бүртгэлийн дугаар
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        institutionName:
                          type: string
                          description: Байгууллагын нэр
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        studentGroupName:
                          type: string
                          description: Бүлгийн нэр
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        academicLevel:
                          type: string
                          description: Анги
                        programStageId:
                          type: number
                          description: Сургалтын хөтөлбөрийн үе шатны дугаар
                        instructorId:
                          type: number
                          description: Багшийн дугаар
                        employeeId:
                          type: number
                          description: Ажилтны дугаар
                        instructorPersonId:
                          type: number
                          description: Анги удирдсан багшийн дугаар
                        instructorPersonRegNumber:
                          type: string
                          description: Анги удирдсан багшийн регистр
                        instructorFirstName:
                          type: string
                          description: Анги удирдсан багшийн нэр
                        instructorLastName:
                          type: string
                          description: Анги удирдсан багшийн овог
                        instructorCivilId:
                          type: string
                          description: Анги удирдсан багшийн иргэний дугаар
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - userRole: Student
                  personId: 90000000000000
                  personRegNumber: аа10010101
                  firstName: '***********'
                  lastName: '***********'
                  familyName: Уулынхан
                  civilId: 400000000000
                  institutionId: 40000
                  institutionName: '********* аймгийн ******** сумын ерөнхий боловсролын гуравдугаар сургууль'
                  studentGroupId: 1000000000000000
                  studentGroupName: 9б
                  academicYear: '2025'
                  academicLevel: '9'
                  programStageId: 100000000000000
                  instructorId: 100000000000000
                  employeeId: 100000000000000
                  instructorPersonId: 9000000000000
                  instructorPersonRegNumber: аа88010101
                  instructorFirstName: '***********'
                  instructorLastName: '***********'
                  instructorCivilId: 80000000000000
      parameters:
      - name: studentGroupId
        in: path
        required: true
        schema:
          type: number
        description: Бүлгийн дугаар
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.GET_STUDENT_GROUP_STUDENT_LIST_V2
      x-esis-slug: API-000246
  /svc/api/hub/v2/group/instructor/save:
    post:
      operationId: API_000260
      summary: Анги бүлгийн багш тохируулах
      tags:
      - Бүлгийн мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: number
                          description: Гаралтын төлөв
                        statusMessage:
                          type: string
                          description: Гаралтын мессеж
      description: UPDATE зөвхөн instructorRole өөрчлөх үед хийнэ. Багшийг солихдоо өмнөх багшийг устгах үйлдэл хийсний дараа шинэ багшийг оруулна уу!
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  type: string
                  description: Үйлдлийн төрөл (CREATE, UPDATE, DELETE)
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                studentGroupId:
                  type: number
                  description: Бүлгийн дугаар
                instructorId:
                  type: number
                  description: Багшийн дугаар
                instructorRole:
                  type: string
                  description: Багшийн хариуцах үүрэг
              required:
              - event
              - institutionId
              - studentGroupId
              - instructorId
              - instructorRole
            example:
              event: CREATE
              institutionId: 101
              studentGroupId: 10000002154545
              instructorId: 15454545454
              instructorRole: LEAD
      x-esis-service: ESIS_HUB.HUB_SERVICE_STUDENT_GROUP_INSTRUCTOR
      x-esis-slug: API-000260
  /svc/api/hub/v2/group/list:
    get:
      operationId: api_40
      summary: Байгууллагын бүлгийн мэдээлэл
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        academicLevel:
                          type: string
                          description: Анги
                        academicLevelName:
                          type: string
                          description: Ангийн нэр
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        studentGroupName:
                          type: string
                          description: Бүлгийн нэр
                        programOfStudyId:
                          type: number
                          description: Сургалтын хөтөлбөрийн дугаар
                        programOfStudyName:
                          type: string
                          description: Сургалтын хөтөлбөрийн нэр
                        programStageId:
                          type: number
                          description: Сургалтын хөтөлбөрийн үе шатны дугаар
                        programStageName:
                          type: string
                          description: Сургалтын хөтөлбөрийн үе шатны нэр
                        programPlanId:
                          type: number
                          description: Сургалтын төлөвлөгөөний дугаар
                        programPlanName:
                          type: string
                          description: Сургалтын төлөвлөгөөний нэр
                        groupTypeCode:
                          type: string
                          description: Бүлгийн төрлийн код
                        groupTypeName:
                          type: string
                          description: Бүлгийн төрлийн нэр
                        instructorId:
                          type: number
                          description: Багшийн дугаар
                        instructorName:
                          type: string
                          description: Багшийн нэр
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        groupShiftId:
                          type: number
                          description: Бүлгийн ээлжийн дугаар
                        groupShiftName:
                          type: string
                          description: Бүлгийн ээлжийн нэр
                        groupClassificationId:
                          type: number
                          description: Бүлгийн ангилалын дугаар
                        groupClassificationName:
                          type: string
                          description: Бүлгийн ангилалын нэр
                        groupCategoryCode:
                          type: string
                          description: Бүлгийн хэлбэрийн дугаар
                        groupCategoryName:
                          type: string
                          description: Бүлгийн хэлбэрийн нэр
                        academicGroupId:
                          type: number
                          description: Салбар, бүрэлдэхүүн сургуулийн дугаар
                        academicGroupName:
                          type: string
                          description: Салбар, бүрэлдэхүүн сургуулийн нэр
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 44738
                  academicLevel: '9'
                  academicLevelName: 9-р анги
                  studentGroupId: 100005721969772
                  studentGroupName: 9-1
                  programOfStudyId: 100005718984017
                  programOfStudyName: Суурь боловсролын өдрийн хөтөлбөр
                  programStageId: 100005718984023
                  programStageName: 9-р анги
                  programPlanId: 100005719004403
                  programPlanName: null
                  groupTypeCode: STREAM
                  groupTypeName: null
                  instructorId: 9000000564682
                  instructorName: Б.Балжирмаа
                  academicYear: '2025'
                  groupShiftId: 108004001
                  groupShiftName: 1-р ээлж
                  groupClassificationId: 1
                  groupClassificationName: Үндсэн бүлэг
                  groupCategoryCode: MAIN_STUDENT_GROUP
                  groupCategoryName: Үндсэн бүлэг
                  academicGroupId: 44738
                  academicGroupName: Нийслэлийн ерөнхий боловсролын Индра кибер сургууль
      description: Байгууллагын бүлгийн мэдээлэл лавлах
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_SCHOOL_LIST_GROUPS_V3
      x-esis-slug: api-40
  /svc/api/hub/v2/group/list/attendance/{studentGroupId}/{dayDate}:
    get:
      operationId: api_22
      summary: Хүүхэд өдрийн ирц харах
      tags:
      - Бүлгийн ирц
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        academicLevel:
                          type: string
                          description: Анги
                        personId:
                          type: string
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        dayDate:
                          type: string
                          description: Хуваарьт өдөр
                        attendanceReasonCode:
                          type: string
                          description: Ирцийн шалтгааны код /PRESENT, EXCUSED_COVID, ONLINE, UNEXCUSED, EXCUSED, SICK_COVID, SICK/
                        attendanceReasonName:
                          type: string
                          description: Ирцийн шалтгааны нэр
                        tardyMinutes:
                          type: string
                          description: Хоцорсон минут
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - academicLevel: '8'
                  personId: 90000000000000
                  dayDate: '2025-11-16T16:00:00.000Z'
                  attendanceReasonCode: PRESENT
                  attendanceReasonName: Ирсэн
                  tardyMinutes: 0
      parameters:
      - name: studentGroupId
        in: path
        required: true
        schema:
          type: number
        description: Бүлгийн дугаар
      - name: dayDate
        in: path
        required: true
        schema:
          type: string
        description: Ирц явуулсан огноо /YYYY-MM-DD/
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_SCHOOL_GROUP_LIST_ATTENDANCE_V@
      x-esis-slug: api-22
  /svc/api/hub/v2/group/list/grade/{studentGroupId}/{programElementId}:
    get:
      operationId: api_19
      summary: Жилийн эцсийн дүн харах
      tags:
      - Хичээлийн дүн
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        programElementId:
                          type: number
                          description: Сургалтын төлөвлөгөөний хичээлийн дугаар
                        courseGrade:
                          type: number
                          description: Хичээлийн дүн
                        gradeId:
                          type: number
                          description: Дүнгийн дугаар
                        gradeLevelName:
                          type: string
                          description: Дүнгийн түвшний нэр
                        gradePoint:
                          type: number
                          description: Дүнгийн оноо
                        gradeOutcomeCode:
                          type: string
                          description: Дүнгийн үр дүнгийн код
                        avgWeeklyCredits:
                          type: number
                          description: Долоо хоногийн дундаж багц цаг
                        approvalStatusCode:
                          type: string
                          description: Баталгаажуулалтын төлвийн код
                        approvalStatusName:
                          type: string
                          description: Баталгаажуулалтын төлөвийн нэр
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - studentGroupId: 1002454515585
                  personId: 90000021545
                  programElementId: 10021111555466
                  courseGrade: 123
                  gradeId: 12
                  gradeLevelName: VIII
                  gradePoint: 12
                  gradeOutcomeCode: PASSED
                  avgWeeklyCredits: 2
                  approvalStatusCode: APPROVED
                  approvalStatusName: Батлагдсан
      parameters:
      - name: studentGroupId
        in: path
        required: true
        schema:
          type: number
        description: Бүлгийн дугаар
      - name: programElementId
        in: path
        required: true
        schema:
          type: number
        description: Сургалтын төлөвлөгөөний хичээлийн дугаар
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: HUB_SERVICE_SCHOOL_GROUP_LIST_GRADE_V2
      x-esis-slug: api-19
  /svc/api/hub/v2/group/next/academicYear:
    get:
      operationId: API_000113
      summary: Байгууллагын бүлгийн жагсаалт лавлах /Шинэ хичээлийн жилээр/
      tags:
      - Байгууллагын мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        academicLevel:
                          type: string
                          description: Анги
                        academicLevelName:
                          type: string
                          description: Ангийн нэр
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        studentGroupName:
                          type: string
                          description: Бүлгийн нэр
                        programOfStudyId:
                          type: number
                          description: Сургалтын хөтөлбөрийн дугаар
                        programOfStudyName:
                          type: string
                          description: Сургалтын хөтөлбөрийн нэр
                        programStageId:
                          type: number
                          description: Сургалтын хөтөлбөрийн үе шатны дугаар
                        programStageName:
                          type: string
                          description: Сургалтын хөтөлбөрийн үе шатны нэр
                        programPlanId:
                          type: number
                          description: Сургалтын төлөвлөгөөний дугаар
                        programPlanName:
                          type: string
                          description: Сургалтын төлөвлөгөөний нэр
                        groupTypeCode:
                          type: string
                          description: Бүлгийн төрлийн код
                        groupTypeName:
                          type: string
                          description: Бүлгийн төрлийн нэр
                        instructorId:
                          type: number
                          description: Багшийн дугаар
                        instructorName:
                          type: string
                          description: Багшийн нэр
                        academicYear:
                          type: string
                          description: Хичээлийн жил
                        groupShiftId:
                          type: number
                          description: Бүлгийн ээлжийн дугаар
                        groupShiftName:
                          type: string
                          description: Бүлгийн ээлжийн нэр
                        groupClassificationId:
                          type: number
                          description: Бүлгийн ангилалын дугаар
                        groupClassificationName:
                          type: string
                          description: Бүлгийн ангилалын нэр
                        groupCategoryCode:
                          type: string
                          description: Бүлгийн хэлбэрийн дугаар
                        groupCategoryName:
                          type: string
                          description: Бүлгийн хэлбэрийн нэр
                        academicGroupId:
                          type: number
                          description: Салбар, бүрэлдэхүүн сургуулийн дугаар
                        academicGroupName:
                          type: string
                          description: Салбар, бүрэлдэхүүн сургуулийн нэр
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 101
                  academicLevel: 10A
                  academicLevelName: 10-р анги
                  studentGroupId: 205
                  studentGroupName: 10А-1 бүлэг
                  programOfStudyId: 3001
                  programOfStudyName: Ерөнхий боловсрол
                  programStageId: 3
                  programStageName: Ахлах анги
                  programPlanId: 450
                  programPlanName: 2024–2025 оны сургалтын төлөвлөгөө
                  groupTypeCode: REGULAR
                  groupTypeName: Энгийн бүлэг
                  instructorId: 789
                  instructorName: Бат-Эрдэнэ Д.
                  academicYear: '2024'
                  groupShiftId: 1
                  groupShiftName: Өглөө
                  groupClassificationId: 2
                  groupClassificationName: Онцгой хөтөлбөртэй
                  groupCategoryCode: DAY
                  groupCategoryName: Өдрийн анги
                  academicGroupId: 12
                  academicGroupName: Улаанбаатар салбар сургууль
      description: Байгууллагын бүлгийн жагсаалт лавлах /Шинэ хичээлийн жилээр/
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      x-esis-service: ESIS_HUB.HUB_SERVICE_SCHOOL_GROUPS_NEXT_ACADEMIC_YEAR_V2
      x-esis-slug: API-000113
  /svc/api/hub/v2/group/school/attendance/save:
    get:
      operationId: api_23
      summary: Хүүхэд өдрийн ирц хадгалах
      tags:
      - Бүлгийн ирц
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      x-esis-service: ESIS_HUB.HUB_SERVICE_SCHOOL_ATTENDANCE_SAVER
      x-esis-slug: api-23
  /svc/api/hub/v2/group/school/attendance/save/v2:
    post:
      operationId: API_000204
      summary: Хүүхэд өдрийн ирц хадгалах /Хувилбар 2.0/
      tags:
      - Бүлгийн ирц
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      parameters:
      - name: institutionId
        in: query
        required: true
        schema:
          type: number
        description: Байгууллагын дугаар
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                studentGroupId:
                  type: number
                  description: Бүлгийн дугаар
                dayDate:
                  type: string
                  description: Хуваарьт өдөр
                attendanceList:
                  type: array
                  items:
                    type: object
                    properties:
                      personId:
                        type: number
                      attendanceReasonCode:
                        type: string
                      tardyMinutes:
                        type: number
                  description: Ирц бүртгэх суралцагчийн жагсаалт /array/
                personId:
                  type: string
                  description: Боловсролын салбарын хүний бүртгэлийн дугаар
                attendanceReasonCode:
                  type: string
                  description: Ирцийн шалтгааны код /PRESENT, EXCUSED_COVID, 0, ONLINE, UNEXCUSED, EXCUSED, SICK_COVID, SICK/
                tardyMinutes:
                  type: number
                  description: Хоцорсон минут
              required:
              - studentGroupId
              - dayDate
              - attendanceList
              - personId
              - attendanceReasonCode
              - tardyMinutes
            example:
              institutionId: 40000
              studentGroupId: 12345
              dayDate: '2025-10-02'
              attendanceList:
              - personId: 123456789
                attendanceReasonCode: PRESENT
                tardyMinutes: 0
              - personId: 123456789
                attendanceReasonCode: PRESENT
                tardyMinutes: 0
      x-esis-service: HUB_SERVICE_SCHOOL_ATTENDANCE_SAVE_V2
      x-esis-slug: API-000204
  /svc/api/hub/v2/group/school/attendance/save/v3:
    post:
      operationId: API_000269
      summary: Хүүхэд өдрийн ирц хадгалах /Хувилбар 3.0/ - Ирцийн нэмэлт шалтгаантай
      tags:
      - Бүлгийн ирц
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Envelope'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                institutionId:
                  type: number
                  description: Байгууллагын дугаар
                studentGroupId:
                  type: number
                  description: Бүлгийн дугаар
                dayDate:
                  type: string
                  description: Ирцийн өдөр
                attendanceList:
                  type: array
                  items:
                    type: object
                    properties:
                      personId:
                        type: number
                      attendReasonCode:
                        type: string
                      tardyMinutes:
                        type: number
                      attendReasonList:
                        type: array
                        items: {}
                  description: Ирц бүртгэх суралцагчийн жагсаалт
                personId:
                  type: number
                  description: Боловсролын салбарын хүний бүртгэлийн дугаар
                attendReasonCode:
                  type: string
                  description: Ирцийн шалтгааны код
                tardyMinutes:
                  type: number
                  description: Хоцорсон минут
                attendReasonList:
                  type: array
                  items: {}
                  description: Өвчний шалтгааны жагсаалт
              required:
              - institutionId
              - studentGroupId
              - dayDate
              - attendanceList
              - personId
              - attendReasonCode
              - tardyMinutes
              - attendReasonList
            example:
              institutionId: 0
              studentGroupId: 0
              dayDate: s
              attendanceList:
              - personId: 0
                attendReasonCode: ''
                tardyMinutes: 0
                attendReasonList:
                - CHRONIC_COUGH
                - FEVER_COUGH
                - FEVER_RASH
      x-esis-service: ESIS_HUB.HUB_SERVICE_SCHOOL_ATTENDANCE_SAVE_V3
      x-esis-slug: API-000269
  /svc/api/hub/v2/group/student/list/{studentGroupId}:
    get:
      operationId: api_13
      summary: Бүлгийн суралцагчийн жагсаалт
      tags:
      - Суралцагчийн мэдээлэл
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  SUCCESS_CODE:
                    type: integer
                    example: 200
                  RESPONSE_MESSAGE:
                    type: string
                  RESULT:
                    type: array
                    items:
                      type: object
                      properties:
                        institutionId:
                          type: number
                          description: Байгууллагын дугаар
                        civilId:
                          type: number
                          description: Иргэний дугаар
                        personId:
                          type: number
                          description: Боловсролын салбарын хүний бүртгэлийн дугаар
                        familyName:
                          type: string
                          description: Ургийн овог
                        firstName:
                          type: string
                          description: Өөрийн нэр
                        lastName:
                          type: string
                          description: Эцэг/эхийн нэр
                        familyNameMgl:
                          type: string
                          description: Ургийн овог /Монгол бичиг/
                        lastNameMgl:
                          type: string
                          description: Эцэг/эхийн нэр /Монгол бичиг/
                        firstNameMgl:
                          type: string
                          description: Өөрийн нэр /Монгол бичиг/
                        personRegNumber:
                          type: string
                          description: Хүний регистрийн дугаар
                        dateOfBirth:
                          type: string
                          description: Төрсөн огноо
                        genderCode:
                          type: string
                          description: Хүйсийн код
                        genderName:
                          type: string
                          description: Хүйсийн нэр
                        academicLevel:
                          type: string
                          description: Анги
                        academicLevelName:
                          type: string
                          description: Ангийн нэр
                        studentGroupId:
                          type: number
                          description: Бүлгийн дугаар
                        studentGroupName:
                          type: string
                          description: Бүлгийн нэр
                        programOfStudyId:
                          type: number
                          description: Сургалтын хөтөлбөр дугаар
                        programOfStudyName:
                          type: string
                          description: Сургалтын хөтөлбөрийн нэр
                        programPlanId:
                          type: number
                          description: Сургалтын төлөвлөгөө дугаар
                        programPlanName:
                          type: string
                          description: Сургалтын төлөвлөгөөний нэр
                        programStageId:
                          type: number
                          description: Сургалтын хөтөлбөрийн үе шатны дугаар
                        programStageName:
                          type: string
                          description: Сургалтын хөтөлбөрийн үе шатны нэр
                        microsoftEmail:
                          type: string
                          description: Цахим хаяг (Microsoft)
                        microsoftPassword:
                          type: string
                          description: Цахим хаягийн нууц үг (Microsoft)
                        googleEmail:
                          type: string
                          description: Цахим хаяг (Google)
                        googlePassword:
                          type: string
                          description: Цахим хаягийн нууц үг (Google)
                        actionDate:
                          type: string
                          description: Үйлдэл хийсэн огноо
                        academicYear:
                          type: string
                          description: Тухайн хичээлийн жилийн он
                        instructorId:
                          type: number
                          description: Багшийн дугаар
                        instructorName:
                          type: string
                          description: Багшийн нэр
                        programStatus:
                          type: string
                          description: Сургалтын төлөв
                        programStatusName:
                          type: string
                          description: Сургалтын төлөвийн нэр
              example:
                SUCCESS_CODE: 200
                RESPONSE_MESSAGE: Амжилттай
                RESULT:
                - institutionId: 30000
[...]
